---
import Layout from '../layouts/Layout.astro';
import MockUp from '../assets/mock-up.webp';
import {Timer, Calendar, Share2} from 'lucide-astro'
import {Image} from 'astro:assets';
import FeatureCard from "../components/FeatureCard.astro";
---

<Layout title="Lapzy - Jouw MX performance platform">
  <main>
    <section id="intro" class="min-h-screen pt-40 pb-12">
      <div class="flex items-center flex-col sm:flex-row gap-y-8 h-full">
        <div class="w-full">
          <h1 class="text-5xl sm:text-6xl md:text-7xl font-display leading-[1.1] sm:leading-[1.1] md:leading-[1.1] mb-8"
              data-aos="custom-fade-up"
              data-aos-duration="500"
              data-aos-once="true">
            Track jouw motorcross <br/>
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary to-indigo-500">performance</span>
          </h1>
          <p class="sm:text-lg lg:text-xl text-muted-foreground tracking-relaxed max-w-xl mb-12"
             data-aos="custom-fade-up"
             data-aos-duration="500"
             data-aos-delay="100"
             data-aos-once="true">
            Met Lapzy staan al jouw sessies en prestaties op één plek. Leg je snelste rondetijden vast en
            deel deze met je vrienden.
          </p>
          <div class="flex flex-col sm:flex-row gap-4 sm:gap-6"
               data-aos="custom-fade-up"
               data-aos-duration="500"
               data-aos-delay="200"
               data-aos-once="true">
            <a href="https://app.lapzy.nl"
               class="bg-primary text-primary-foreground hover:bg-primary/90 sm:shadow-[0_8px_25px_-5px_rgba(0,0,0,0.25)] h-14 w-full sm:w-auto px-8 py-2 inline-flex items-center justify-center whitespace-nowrap rounded-lg font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2">Aan
              de slag</a>
            <a href="#features"
               class="bg-background hover:bg-muted sm:shadow-[0_8px_25px_-5px_rgba(0,0,0,0.25)] h-14 px-8 py-2 border border-border inline-flex items-center justify-center whitespace-nowrap rounded-lg font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2">Meer
              over Lapzy</a>
          </div>
        </div>
        <div class="relative h-full sm:mr-8 px-6 sm:px-0 shrink">
          <Image src={MockUp}
                 alt="Lapzy iPhone mockup"
                 class="max-w-3xl w-full"
                 data-aos="custom-fade-down"
                 data-aos-duration="1200"
                 data-aos-delay="400"
                 data-aos-once="true"/>
        </div>
      </div>
    </section>

    <section id="features" class="py-12">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-6 lg:gap-8">
        <FeatureCard
                title="Stopwatch"
                description="Gebruik de ingebouwde stopwatch om live rondetijden mee op te nemen. Ontworpen speciaal voor motorcross."
        >
          <Timer slot="icon" class="size-12 stroke-2 text-slate-600"/>
        </FeatureCard>
        <FeatureCard title="Sessie historie"
                     description="Kijk al je sessies eenvoudig terug om te analyseren. Gebruik notities om aandachtspunten mee vast te leggen."
                     animationDelay="100">
          <Calendar slot="icon" class="size-12 stroke-2 text-slate-600"/>
        </FeatureCard>
        <FeatureCard title="Resultaten delen"
                     description="Deel jouw snelste rondetijden met vrienden en kennissen. Zo strijd je samen voor het beste resultaat."
                     animationDelay="200">
          <Share2 slot="icon" class="size-12 stroke-2 text-slate-600"/>
        </FeatureCard>
      </div>
    </section>

    <div class="absolute top-full sm:top-96 right-0 md:right-32 rounded-full bg-[radial-gradient(hsl(var(--primary)),transparent)] opacity-20 h-[400px] w-[800px] md:h-[600px] lg:h-[600px] blur-[40px] -z-50"
         data-aos="custom-fade-in"
         data-aos-duration="1200"
         data-aos-delay="400"
         data-aos-once="true"></div>
  </main>
</Layout>

<style>

</style>
